@use "../foundation/all" as *;
.listbox {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  & .listbox--option {
    height: 32px;
    padding: 0 8px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    &.active {
      background-color: $sds-color-bg-surface-tertiary;
    }
    &:hover {
      background-color: $sds-color-bg-surface-tertiary;
    }
    @include flexbox(_, center);
  }
  @include flexbox(_, center, 4px, column);
}

.listbox--option {
  @include laptop {
    cursor: pointer;
  }
}
