@use "../foundation/all" as *;

.range {
  /*************************
  * Slider + Input Field
  *************************/

  &--slider {
    position: relative;
    @include flexbox(center, center);
    user-select: none;
    flex-grow: 1;
  }

  &--slider-layout {
    @include flexbox(start, center, $space-60);
    &.range--input-field--position-end {
      @include flexbox(start, center, _, row-reverse);
    }
    .range--value-field {
      width: 100px;
    }
  }

  &--slider-progress {
    width: 0px;
    height: 4px;
    border-radius: 3px;
    background: $sds-color-bg-inverse;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  &--slider-field {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 3px;
    background-color: $sds-color-bg-fill-brand-disable;
    cursor: pointer;

    // Hide native thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      background: transparent;
      border: none;
    }
    &::-moz-range-thumb {
      -moz-appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      background: transparent;
    }
    &::-moz-range-track {
      background-color: $sds-color-bg-fill-brand-disable;
      height: 4px;
      border-radius: 3px;
    }
    &::-moz-range-progress {
      background-color: $sds-color-bg-inverse;
      height: 4px;
      border-radius: 3px;
      z-index: 1;
    }
  }

  /*************************
  * Custom Thumb
  *************************/
  &--slider-thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: $sds-color-bg-surface;
    border: 2px solid $sds-color-bg-inverse;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none; // important so slider is draggable
    // transition: left 0.1s linear;
  }
}
