@use "../foundation/all" as *;
.skeleton {
  width: 100%;
  height: 100%;
  @include generate-pulse-animation();
  &--body-text {
    @include flexbox(_, _, $space-50, column);
  }

  &--body-text--line {
    @include flexbox();
    background-color: $sds-color-bg-surface-secondary;
    border-radius: $space-60;
    height: $space-40;
  }
  &--body-text--line-last {
    width: 60%;
  }
  @include generate-skeleton-body-text-size();
}
